{# Company Data #}
{% set cd %}
  {{ include("components/inputs/varchar.twig",{
    'title':'Company Name',
    'Description':'Company Name',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Company Business Number',
    'Description':'Company Business Number',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Tax Number',
    'Description':'Tax Number',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Vat Number',
    'Description':'Vat Number',
  })}}
  {{ include("components/inputs/lookup.twig",{
    'title':'Currency',
    'Description':'Currency',
    'options': ['€', '$']
  })}}
  {{ include("components/inputs/lookup.twig",{
    'title':'Language Code',
    'Description':'Language Code',
    'options': ['SK', 'EN']
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Website',
    'Description':'Website',
  })}}
  {{ include("components/inputs/text.twig",{
    'title':'Notes',
    'Description':'Notes',
  })}}
{% endset %}

{# Primary Contact Person #}
{% set pcp %}
  {{ include("components/inputs/varchar.twig",{
    'title':'Title Before',
    'Description':'Title Before',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'First Name',
    'Description':'First Name',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Middle Name',
    'Description':'Middle Name',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Last Name',
    'Description':'Last Name',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Title After',
    'Description':'Title After',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Email',
    'Description':'Email',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Phone',
    'Description':'Phone',
  })}}
{% endset %}

{# Address #}
{% set address %}
  {{ include("components/inputs/varchar.twig",{
    'title':'Street 1',
    'Description':'Street 1',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Street 2',
    'Description':'Street 2',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'City',
    'Description':'City',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Postal Code',
    'Description':'Postal Code',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Country',
    'Description':'Country',
  })}}
  {{ include("components/inputs/text.twig",{
    'title':'Notes',
    'Description':'Notes',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Location',
    'Description':'Location',
  })}}
{% endset %}

{# Additional Contact Data #}
{% set acd %}
  {{ include("components/inputs/varchar.twig",{
    'title':'Currency',
    'Description':'Currency',
  })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Language Code',
    'Description':'Language Code',
    })}}
  {{ include("components/inputs/varchar.twig",{
    'title':'Website',
    'Description':'Website',
  })}}
  {{ include("components/inputs/text.twig",{
    'title':'Notes',
    'Description':'Notes',
  })}}
{% endset %}

{# Add Company Form with Cards #}
{% set formContentCompany %}
  <div class="form-container">
    <div class="form-col">
      {{ include('components/card.twig', {
        'title': 'Company Data',
        'content': cd
      }) }}
    </div>
    <div class="form-col">
      {{ include('components/card.twig', {
        'title': 'Company Address',
        'content': address
      }) }}
    </div>
    <div class="form-col">
      {{ include('components/card.twig', {
        'title': 'Primary Contact Person',
        'content': pcp
      }) }}
    </div>
    <div class="form-col">
      {{ include('components/card.twig', {
        'title': 'Additional Contact Data',
        'content': acd
      }) }}
    </div>
  </div>
{% endset %}

{# Tag List #}
{% set categories %}
  {{ include('components/inputs/button-selector.twig', {
    'options': ['Tag #1','Tag #2','Tag #3','Tag #4','Tag #5'],
    'multiselect' : true
    })
  }}

  {{ include('components/inputs/varchar.twig', {
    'title':'New tag'
    })
  }}
{% endset %}

{# Card with Tag List #}
{% set categoriesCard %}
  {{ include('components/card.twig', {
    'title': 'Categories',
    'content': categories
  }) }}
{% endset %}

{# Person Add Button #}
{% set personsAdd %}
  {{ include('components/button.twig', {'cssClass': 'btn-primary', 'text': 'Add person', 'icon': 'fas fa-plus'}) }}
{% endset %}

{# Table With Persons #}
{% set persons %}
  <div class="shadow-sm m-1">
    {{ include('components/table.twig', {
      'title': {
        'text': 'Persons',
        'leftButtons': personsAdd,
      },
      'columns': [
        {'title':'Title Before','type': 'varchar'},
        {'title':'First Name','type': 'varchar'},
        {'title':'Last Name','type': 'varchar'},
        {'title':'Middle Name','type': 'varchar'},
        {'title':'Title After','type': 'varchar'},
        {'title':'Email','type': 'varchar'},
        {'title':'Phone','type': 'varchar'},
        {'title':'LinkedIn URL','type': 'varchar'},
      ],
      'minRowCount': 2,
      'maxRowCount': 5
    }) }}
  </div>
{% endset %}

{# Add Address Button #}
{% set addressAdd %}
  {{ include('components/button.twig', {'cssClass': 'btn-primary', 'text': 'Add address', 'icon': 'fas fa-plus'}) }}
{% endset %}

{# Table with Addresses #}
{% set addresses %}
  <div class="shadow-sm m-1">
    {{ include('components/table.twig', {
      'title': {
        'text': 'Addresses',
        'leftButtons': addressAdd,
      },
      'columns': [
        {'title':'Street 1','type': 'varchar'},
        {'title':'Street 2','type': 'varchar'},
        {'title':'City','type': 'varchar'},
        {'title':'Postal Code','type': 'varchar'},
        {'title':'Country','type': 'varchar'},
        {'title':'Notes','type': 'varchar'},
        {'title':'Location','type': 'varchar'},
      ],
      'minRowCount': 1,
      'maxRowCount': 3
    }) }}
  </div>
{% endset %}

{# Company Modal #}
{{include('components/modal.twig', {
    'modalId': 'companyModal',
    'title': 'Add Company',
    'content': include('components/nav-tabs.twig', {
      'tabName':'tabCompany',
      'tabs': [
        {
          'title' : 'Company Data',
          'content': include('components/form.twig', {
            'content': formContentCompany
          })
        },
        {
          'title' : 'Categories',
          'content': include('components/form.twig', {
            'content': categoriesCard
          })
        },
        {
          'title' : 'Persons',
          'content': include('components/form.twig', {
            'content': persons
          })
        },
        {
          'title' : 'Addresses',
          'content': include('components/form.twig', {
            'content': addresses
          })
        },
      ]
    })
  })
}}